__pycache__
temp/
logs/
data/
venv
.vscode
.venv
config.json
.state-save
.tools/mic-bot/main.py
mongodb
bot/json/file_base.json
docker-compose.yml
# tools/visualize/bot-value
tools/visualize/items
.obsidian
har_and_cookies