pip==25.0.1
aiogram==3.18.0
aiohttp==3.11.14
pymongo==4.11.3
motor==3.7.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.27.1
Pillow==11.1.0
colorama==0.4.6
emoji==2.14.1
# wheel==0.46.1
# langdetect==1.0.9
aiofiles==24.1.0
json5==0.12.0